extends layout

block content
  h1 #{title}: #{book.title}
  p #[strong Author:]
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}

  if bookInstances.length

    p #[strong Delete the following book instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Book Instances

      dl
      each instance in bookInstances
        dt
          a(href=instance.url) #{book.title} : #{instance.imprint} -
          if instance.status=='Available'
            span.text-success #{instance.status}
          else if instance.status=='Maintenance'
            span.text-danger #{instance.status}
          else
            span.text-warning #{instance.status}
          if instance.status!='Available'
            span  (Due: #{instance.due_back_formatted} )


  else
    p Do you really want to delete this Book ?

    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete